.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.login-container{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    
}